<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        
        <!-- script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzaQ46kaKTR3RD1h0HYwx4Nk62Z9SnF-8">
    </script -->
   
        <style>
            html{
                height: 100%;
            }
            #map{
                height: 700px;
            }
            #map-canvas{
                
                height: 700px;
            }
            .show-grid div{
                background-color: #CCCCCC;
                border: 1px solid #000000;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 4px;
                margin-right: 4px;
                padding: 10px;
            }
            .positive{
                color: #00ff00;
            }
            .negative{
                color: #ff0000
            }
            
        </style>
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top navbar-reverse" id="top" role="banner">
          <div class="container-fluid">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Tweetscraper</a>
            </div>
            </div>
        </header>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr><th>US Trends</th></tr>
                        </thead>
                        <tbody>
                            {% for trend in trends %}
                            <tr>
                                <td class="trend" data-term="{{ trend.query }}"><a href="#">{{ trend.name }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>    
                    
                    
                </div>
                <div class="col-md-8 col-sm-8 hidden" id="tweets">
                    <div role="tabpanel">

  <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tweetbox" aria-controls="tweetbox" role="tab" data-toggle="tab">Tweets</a></li>
                        <li role="presentation"><a href="#words" aria-controls="words" role="tab" data-toggle="tab">Common Words</a></li>
                        <li role="presentation"><a href="#sentiment" aria-controls="sentiment" role="tab" data-toggle="tab">Keyword Sentiment</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tweetbox">
                            <table class="table table-striped" id="populartweets">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Tweet</th>
                                <th>Favorites</th>
                                <th>Retweets</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                              
                                <div class="row show-grid" id="tweetcontainer"></div>
                          </div>
                        <div role="tabpanel" class="tab-pane" id="words">
                            <table class="table table-striped" id="mostcommon">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <th>Count</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>  
                        </div>
                    <div role="tabpanel" class="tab-pane" id="sentiment">
                       <table class="table table-striped" id="keyword-sentiment">
                        <thead>
                            <tr>
                                <th>Keyword</th>
                                <th>Relevence</th>
                                <th>Score</th>
                                <th>Sentiment></th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table> 
                          
                    </div>
                       

                    </div>
                    
                    
                    
                    
                    
                    
                </div>
                <div class="col-md-8 col-sm-8 hidden" id="loading">
                    <h4>Loading data...</h4>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                        <span class="sr-only">65% Complete</span>
                      </div>
                    </div>
                </div>
                
            </div>
                            
            <!--div class="row">
                <div class="col-md-12">
                    <div id="map-canvas"></div>
                </div>
            </div -->
        </div>
        <script>
            //temporary inline script
            $(function(){
                //set up clicking on a trending topic
                $(".trend").on('click',function(evt){
                    $("#tweets").addClass("hidden");
                    $("#loading").removeClass("hidden");
                    var term = $(this).data('term');
                    $.getJSON( "api/" + term)
                        .done(function(json){
                            $("#loading").addClass("hidden");
                            $("#tweets").removeClass("hidden");
                        
                            var tweets = [];
                            var common = [];
                            var keywords = [];
                            
                            var tweetstring, keystring;
                        
                            console.log(json);
                            
                            $.each(json.statuses, function(index, value){
                                tweetstring = "<tr><td><a target='new' href='https://twitter.com/" + value.user.screen_name + "'>@" + value.user.screen_name + "</a></td>";
                                tweetstring += "<td>" + value.text + "</td>";
                                tweetstring += "<td>" + value.favorite_count + "</td>";
                                tweetstring += "<td>" + value.retweet_count + "</td></tr>"
                                tweets.push(tweetstring);
                                //tweets.push("<div class='col-sm-4 tweet'>" + value.text + "</div>");
                            });
                            $.each(json.most_common, function(index,value){
                                common.push("<tr><td>" + value[0] + "</td><td>" + value[1] + "</td></tr>");
                            });
                            $.each(json.sentiment.keywords, function(index, value){
                                keystring = "<tr><td>" + value.text + "</td>";
                                keystring += "<td>" + value.relevance + "</td>";
                                keystring += "<td class='" + value.sentiment.type + "'>" + value.sentiment.score + "</td>";
                                keystring += "<td class='" + value.sentiment.type + "'>" + value.sentiment.type + "</td></tr>";
                                keywords.push(keystring);
                                
                            });
                            
                            $("#mostcommon tbody").html(common.join(""));
                            $("#keyword-sentiment").html(keywords.join(""));

                            $("#populartweets tbody").html(tweets.join(""));
                            
                            
                            
                        })
                        .fail(function(jqxhr, textStatus, error){
                            console.log(error);
                    });
                  
                });
            });
        </script>
        
    </body>
</html>